<div class="container" *ngIf="isAdminOrOperator">
  <div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 100%;">
          <h5 class="card-header text-white">Aggiornamento Documento </h5>
          <div class="card-body">
            <form [formGroup]="documentForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col"><b>Società </b></label>
                    <select class="form-control" formControlName="societaId" #societaId>
                    <option hidden value="" disabled selected >Scegli Società </option>
                    <option *ngFor="let company of companies" [value]="company.id">{{company.nomeSocieta}}</option>
                    </select>
                  </div>
                  <div *ngIf="documentForm.controls['societaId'].invalid && (documentForm.controls['societaId'].dirty || documentForm.controls['societaId'].touched)" class="alert alert-danger">
                    <div *ngIf="documentForm.controls['societaId'].errors['required']">
                      Società e obbligatoria.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col"><b>Categoria </b></label>
                    <select class="form-control" formControlName="categoriaId" (change)="onChangeCategory($event.target.value)" #categoriaId>
                    <option hidden value="" disabled selected >Scegli Categoria </option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.nomeCategoria}}</option>
                    </select>
                  </div>
                  <div *ngIf="documentForm.controls['categoriaId'].invalid && (documentForm.controls['categoriaId'].dirty || documentForm.controls['categoriaId'].touched)" class="alert alert-danger">
                    <div *ngIf="documentForm.controls['categoriaId'].errors['required']">
                      Categoria e obbligatoria.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col"><b>Sottocategoria </b></label>
                    <select class="form-control" formControlName="sottocategoriaId" #sottocategoriaId>
                    <option hidden value="" disabled selected >Scegli Sotto Categoria </ option>
                    <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.nomeSottocategoria}}</option>
                    </select>
                  </div>
                  <div *ngIf="documentForm.hasError('whitespace')">Categoria non ha una sottocategoria</div>
                    <div *ngIf="documentForm.controls['sottocategoriaId'].invalid && (documentForm.controls['sottocategoriaId'].dirty || documentForm.controls['sottocategoriaId'].touched)" class="alert alert-danger">
                      <div *ngIf="documentForm.controls['sottocategoriaId'].errors['required']">
                        Sottocategoria e obbligatoria.
                      </div>
                    </div>
                  </div>
                </div>
              <div class="form-row">
                <div class="col-md-4">
               <div class="form-group">
                 <label class="col"><b>Ufficio </b></label>
                 <select class="form-control" formControlName="ufficioId" #ufficioId>
                   <option hidden value="" disabled selected >Scegli Ufficio </option>
                   <option *ngFor="let office of offices" [value]="office.id">{{office.nomeUfficio}}</option>
                 </select>
               </div>
               <div *ngIf="documentForm.controls['ufficioId'].invalid && (documentForm.controls['ufficioId'].dirty || documentForm.controls['ufficioId'].touched)" class="alert alert-danger">
                <div *ngIf="documentForm.controls['ufficioId'].errors['required']">
                  Ufficio e obbligatorio.
                </div>
              </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
              <label class="col"><b>Parte 2 </b></label>
              <select class="form-control" formControlName="parte2Id">
                <option value="" selected >Scegli Parte2 </option>
                <option *ngFor="let onePart2 of part2" [value]="onePart2.id">{{onePart2.nomeParte2}}</option>
              </select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
              <label class="col"><b>Parte 3 </b></label>
              <select class="form-control" formControlName="parte3Id">
                <option value="" selected >Scegli Parte3 </option>
                <option *ngFor="let onePart3 of part3" [value]="onePart3.id">{{onePart3.nomeParte3}}</option>
              </select>
            </div>
            </div>
              </div>
              <div class="form-row">
                <div class="col-md-4">
              <div class="form-group">
                <label class="col"><b>Data Documento </b></label>
                <input type="text" formControlName="dataDocumento" placeholder="Scegli data Documento" class="form-control" #dataDocumento bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            </div>
            <div *ngIf="documentForm.controls['dataDocumento'].invalid && (documentForm.controls['dataDocumento'].dirty || documentForm.controls['dataDocumento'].touched)" class="alert alert-danger">
             <div *ngIf="documentForm.controls['dataDocumento'].errors['required']">
               Data Documento e obbligatoria.
             </div>
           </div>
                </div>
                <div class="col-md-4">
            <div class="form-group">
              <label class="col"><b>Cartella </b></label>
              <input type="text" class="form-control" formControlName="cartella" #cartella placeholder="Inserisci Cartella"/>
            </div>
            <div *ngIf="documentForm.controls['cartella'].invalid && (documentForm.controls['cartella'].dirty || documentForm.controls['cartella'].touched)" class="alert alert-danger">
             <div *ngIf="documentForm.controls['cartella'].errors['required']">
               Cartella e obbligatoria.
             </div>
           </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col"><b>Posizione in cartella </b></label>
              <input type="text" class="form-control" formControlName="posizioneCartella" #posizioneCartella placeholder="Inserisci Posizione"/>
            </div>
            <div *ngIf="documentForm.controls['posizioneCartella'].invalid && (documentForm.controls['posizioneCartella'].dirty || documentForm.controls['posizioneCartella'].touched)" class="alert alert-danger">
             <div *ngIf="documentForm.controls['posizioneCartella'].errors['required']">
               Cartella e obbligatoria.
             </div>
           </div>
          </div>
              </div>
           <div class="form-group">
            <label class="col-md-12"><b>Data Archivio </b></label>
            <input type="text" formControlName="dataArchivio" class="form-control" [attr.disabled]="true">
          </div>
               <div class="form-group">
                <label class="col-md-12"><b>Inserimento collegamento Documento </b></label>
                <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                 <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                 <input type="hidden" name="fileHidden" formControlName="oneFile"/> <!-- Validation Field -->
                </div>
               </div>
               <div  class="files-list" *ngIf="docFile">
                <p> {{ docFile.fileName }} </p>
                <div class="btn-group">
                  <a (click) = "viewFile(docFile)" class="btn btn-outline-success"><i class="far fa-eye"></i></a>
                  <a (click) = "downloadFile(docFile)" class="btn btn-outline-primary"><i class="fas fa-download"></i></a>
                  <a (click) = "openOneFileModal(deleteOneFile)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                  <ng-template #deleteOneFile let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Elimina File</h4>
                    </div>
                    <div class="modal-body">
                      <span class="text-danger">Il File sarà eliminato!</span>
                      <p>Sei sicuro?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annulla</button>
                      <button type="button" class="btn btn-danger" (click)="deleteAttachment()">Ok</button>
                    </div>
                  </ng-template>
                </div>
               </div>
               <div class="form-group">
                 <label class="col-md-4"><b>Descrizione </b></label>
                 <textarea class="form-control" rows = 5 cols = "3" formControlName="descrizioneDocumento" #descrizioneDocumento style="font-size: 10pt"></textarea>
               </div>
               <div *ngIf="documentForm.controls['descrizioneDocumento'].invalid && (documentForm.controls['descrizioneDocumento'].dirty || documentForm.controls['descrizioneDocumento'].touched)" class="alert alert-danger">
                <div *ngIf="documentForm.controls['descrizioneDocumento'].errors['required']">
                  Descrizione e obbligatoria.
                </div>
              </div>
               <div class="form-group">
                <label class="col-md-8"><b>Inserimento allegati </b> </label>
                <div class="uploadfilecontainer" (click)="fileInputFiles.click()" appDragDropFile (onFileDropped)="uploadFiles($event)">
                  <input hidden multiple type="file" #fileInputFiles (change)="uploadFiles($event.target.files)">
                  <input type="hidden" name="fileHidden" formControlName="manyFiles"/> <!-- Validation Field -->
                </div>
               </div>
               <div  class="files-list" *ngFor = "let file of docFiles;let i= index">
                 <p> {{ file.fileName }} </p>
                 <div class="btn-group">
                  <a (click) = "viewFile(file)" class="btn btn-outline-success"><i class="far fa-eye"></i></a>
                  <a (click) = "downloadFile(file)" class="btn btn-outline-primary"><i class="fas fa-download"></i></a>
                  <a (click) = "open(deleteFile)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                  <ng-template #deleteFile let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Elimina File</h4>
                    </div>
                    <div class="modal-body">
                      <span class="text-danger">Il File sarà eliminato!</span>
                      <p>Sei sicuro?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annulla</button>
                      <button type="button" class="btn btn-danger" (click)="deleteAttachments(i)">Ok</button>
                    </div>
                  </ng-template>
                </div>
               </div>
               <div class="form-group">
                 <label class="col-md-4"><b>Note </b> </label>
                 <textarea class="form-control" rows = 3 cols = "3" formControlName="note" style="font-size: 10pt"></textarea>
               </div>
               <div class="form-group">
                <button type="submit" class="btn btn-outline-primary" [disabled]="documentForm.pristine || documentForm.invalid" >Aggiorna Documento</button>
                <a [routerLink]="['/documents']" class="btn btn-outline-danger" style="margin-left:5px">Annulla</a>
               </div>
             </form>
           </div>
        </div>
      </div>
    </div>
  </div>
