<div class="modal-header">
  <h4 class="modal-title">Cambia la Password</h4>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
      <label for="username">Password Corrente</label>
      <input type="password" formControlName="oldPassword" placeholder="Password corrente" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
      <div *ngIf="f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">
            Password corrente e obbligatoria
          </div>
          <div *ngIf="f.password.errors.minlength">
            Password corrente errore numero caratteri
          </div>
          <div *ngIf="f.password.errors.pattern">
            Password corrente deve avere una carattere maiuscolo un carattere speciale e un numero
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Nuova Password</label>
      <input type="password" formControlName="password" placeholder="Nuova Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">
          Nuova Password e obbligatoria
        </div>
        <div *ngIf="f.password.errors.minlength">
          Nuova Password deve avere almeno 6 caratteri
        </div>
        <div *ngIf="f.password.errors.pattern">
          Nuova Password deve avere una carattere maiuscolo un carattere speciale e un numero
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Conferma la Nuova Password</label>
      <input type="password" formControlName="confirmPassword" placeholder="Conferma Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">
          Password di Conferma e obbligatoria
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          Password di Conferma deve corrispondere
        </div>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
</div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> OK </button>
    <button class="btn btn-outline-dark" (click)="activeModal.dismiss('Close clicked')"> Chiudi </button>
  </div>
</form>
