<div class="container-fluid">
  <div class="row">
    <div class="col">
    <!-- <div class="col-md-16 mx-auto"> -->
      <div class="card">
          <h5 class="card-header text-white">Ufficio </h5>

        <div class="card-body p-3">
          <button class="btn btn-sm btn-outline-primary" (click)="openAddOffice()" style="margin-bottom: 0.5cm;">Inserisci nuovo</button>
            <table class="table table-bordered">
                <thead class="alert alert-info bordered">
                <tr>
                    <th>Id Ufficio</th>
                    <th>Nome Ufficio</th>
                    <th class="text-center fixed-width" colspan="2">Azioni</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let office of offices">
                      <td>{{ office.id }}</td>
                      <td>{{ office.nomeUfficio }}</td>
                      <td class="text-center fixed-width">
                        <div class="btn-group">
                          <a (click) = "openEditOffice(office)" class="btn btn-outline-success"><i class="fas fa-edit"></i></a>
                          <a (click) = "open(deleteOffice)" class="btn btn-outline-danger text-danger"><i class="fas fa-trash-alt"></i></a>
                        <ng-template #deleteOffice let-modal>
                            <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Elimina Ufficio</h4>
                          </div>
                          <div class="modal-body">
                            <span class="text-danger">Ufficio sara eliminato!</span>
                            <p>Sei sicuro?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annulla</button>
                            <button type="button" class="btn btn-danger" (click)="closeModal(office)">Ok</button>
                          </div>
                        </ng-template>
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
      </div>
    </div>
  </div>
  </div>
</div>
