<div class="modal-header">
  <h4 class="modal-title">Nuova Parte2</h4>
</div>
<form [formGroup]="addPart2Form" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="nomeParte2" required/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="addPart2Form.pristine || addPart2Form.invalid" > Crea Parte2 </button>
    <button class="btn btn-outline-dark" (click)="activeModal.dismiss('Close clicked')"> Chiudi </button>
  </div>
</form>
